.container {
    margin: 0 auto;
    padding: 20px;

}

.background {
    background: #D1E7DD;
    border-radius: 10px;
    margin: 20px 0;
    height: 50px;
    line-height: 50px;
}


.btn {
    border-radius: 20px;
}